.container {
    color: black;
    position: relative;
}

.select {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px;
    background: white;
    cursor: pointer;
    order: 0;
}

.select::after {
    content: "";
    background: url("../../assets/img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 26px;
    right: 10px;
    top: 2px;
    transition: all 0.4s;
}

.dropdown.active+.select::after {
    transform: rotateX(180deg);
    top: -2px;
}

.search-box input {
    width: 99%;
    padding: 0;
    font-size: 14px;
    padding: 2px;
    border: 0;
    border-bottom: 1px solid gray;
}

input:focus {
    outline: none;
}

.search-box {
    margin-bottom: 7px;
    padding: 7px 0;
}

.dropdown {
    background: white;
    border-radius: 8px;
    margin-top: 5px;
    padding: 4px;
    transition: all 0.7s;
    opacity: 0;
    max-height: 0;
    z-index: 1000;
    position: absolute;
    width: 98%;
    order: 1;
    top: 28px;
    border: 1px solid gray;
}

.active {
    opacity: 1;
    max-height: 260px;
    overflow-y: scroll;
}

.option {
    padding: 0px 4px;
    height: 30px
}

.option label {
    margin-left: 3px;
}

.person {
    height: 100%;
    margin-right: 4px;
}

.option input {
    height: 100%;
}

.label-option {
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.dropdown::-webkit-scrollbar {
    width: 4px;
    background: #0d141f;
    border-radius: 0 4px 4px 0;
}

.dropdown::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 4px 4px 0;
}

.select-all {
    width: 20px !important;
}

.filter-input {
    height: 30px;
}

.tag {
    background: blue;
    padding: 2px;
    color: white;
    border-radius: 4px;
    margin-right: 3px;
}

.counter {
    position: absolute;
    right: 40px;
}